.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    display: flex;
    margin-top: auto;

    &__message {
        display: flex;

        margin-top: 15px;

        &--mine {
            justify-content: flex-end;
        }
    }
}
