<ul class="messages">
    {{#each messages}}
        <li class="messages__message{{#unless not_mine}} messages__message--mine{{/unless}}">
            {{{ Message
                content=content
                time=time
                is_read=is_read
                not_mine=not_mine
            }}}
        </li>
    {{/each}}
</ul>
