<ul class="click-menu">
    {{#each list}}
        <li class="click-menu__option-wrapper">
            <button class="click-menu__option">
                <img class="click-menu__image" src="../static/icons/{{icon-name}}.svg">
                <span class="click-menu__text">{{text}}</span>
            </button>
        </li>
    {{/each}}
</ul>