<ul class="click-menu">
    <li class="click-menu__option-wrapper">
        <button class="click-menu__option">
            <img class="click-menu__image" src="../static/icons/{{iconName}}.svg">
            <p class="click-menu__text">{{text}}</p>
        </button>
    </li>
</ul>
