<div class="error">
    <img class="error__image" src="{{imageSrc}}" alt="{{code}}">
    <h2 class="error__title">{{message}}</h2>
    {{{ Link to='/messenger' linkType='blue' text='Назад к чатам' }}}
</div>
