.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
        height: 230px;
        width: 565px;

        margin-bottom: 20px;
    }

    &__title {
        font-size: 3rem;
        font-weight: $font-weight-regular;

        margin-bottom: 20px;
    }
}
