<div class="error">
    <img class="error__image" src="../static/images/{{code}}.png" alt="{{code}}">
    <h2 class="error__title">{{message}}</h2>
    {{> link/link to='./main.hbs' link-type='blue' text='Назад к чатам'}}
</div>