<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../../styles/index.css">
</head>
<body>
    <div id="root">
        <div class="dimmer">
            {{> modal-small/modal-small title="Ошибка, попробуйте ещё раз!" text="Подходящие форматы: jpg, png, jpeg" btn-text="Попробовать ещё" color-title="red"}}
        </div>
    </div>
</body>
</html>