<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div id="root">
        <div class="empty">
            <div class="modal-tall">
                <form action="#" class="modal-tall__form">
                    <h2 class="modal-tall__header">Вход</h2>

                    <ul class="modal-tall__body">
                        <li class="modal-tall__body-item">
                            {{> input/input label='Логин' type='text'}}
                        </li>
                        <li class="modal-tall__body-item">
                            {{> input/input label='Пароль' type='password'}}
                        </li>
                    </ul>

                    <div class="modal-tall__footer">
                        {{> button/button text='Войти' type='submit'}}
                        <div class="modal-tall__link">
                            {{> link/link link-type='black' to='./registration.hbs' text='Зарегестрироваться'}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>