---
{
    inputs: [
        {input-name: "oldPassword", input-id: "oldPasswordChange", input-label: "Старый пароль", input-type: "password", placeholder: 'Введите страый пароль...'},
        {input-name: "newPassword", input-id: "newPasswordChange", input-label: "Новый пароль", input-type: "password", placeholder: 'Введите новый пароль...'},
        {input-name: "repeatNewPassword", input-id: "newPasswordSubmitChange", input-label: "Повторите новый пароль", input-type: "password", placeholder: "Пароль повторно..."}
    ]
}
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <main id="root">
        <div class="dimmer">
            {{> profile-form/profile-form inputs=inputs btn-text="Изменить"}}
        </div>
    </main>
</body>
</html>
