---
{
    inputs: [
        {input-name: "first_name", input-id: "first_name_edit", input-label: "Имя", input-type: "text", input-value: "Иван"},
        {input-name: "second_name", input-id: "second_name_edit", input-label: "Фамилия", input-type: "text", input-value: "Сергеев"},
        {input-name: "email", input-id: "email_edit", input-label: "Почта", input-type: "text", input-value: "mail@mail.ru"},
        {input-name: "login", input-id: "login_edit", input-label: "Логин", input-type: "text", input-value: "ives"},
        {input-name: "phone", input-id: "phone_edit", input-label: "Телефон", input-type: "tel", input-value: "+78005555555"},
        {input-name: "display_name", input-id: "display_name_edit", input-label: "Имя в чате", input-type: "text", input-value: "Иван"}
    ]
}
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <main id="root">
        <div class="dimmer">
            {{> profile-form/profile-form inputs=inputs btn-text="Сохранить" edit=true}}
        </div>
    </main>
</body>
</html>
