---
{
    links: [
        {link-type: 'black', to: './auth.hbs', text: 'Авторизация'},
        {link-type: 'black', to: './registration.hbs', text: 'Регистрация'},
        {link-type: 'black', to: './server-error.hbs', text: '505'},
        {link-type: 'black', to: './not-found.hbs', text: '404'},
        {link-type: 'black', to: './main.hbs', text: 'Выбрать чат'},
        {link-type: 'black', to: './main-chat.hbs', text: 'Чат'},
        {link-type: 'black', to: './to-profile.hbs', text: 'Меню'},
        {link-type: 'black', to: './profile.hbs', text: 'Профиль'},
        {link-type: 'black', to: './edit-profile.hbs', text: 'Редактировать профиль'},
        {link-type: 'black', to: './change-password.hbs', text: 'Изменить пароль'},
        {link-type: 'black', to: '../components/success-modal/success-modal.hbs', text: 'Успешная загрузка'},
        {link-type: 'black', to: '../components/mistake/mistake.hbs', text: 'Ошибка загрузки'},
        {link-type: 'black', to: '../components/add-user/add-user.hbs', text: 'Добавить пользователя'},
        {link-type: 'black', to: '../components/delete-user/delete-user.hbs', text: 'Удалить пользователя'},
        {link-type: 'black', to: '../components/approve-exit/approve-exit.hbs', text: 'Подтверждение выхода'}
    ]
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div id="root">
        <div class="empty">
            <ul class="index">
                {{#each links}}
                    <li class="index__link">{{> link/link}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>