---
{
    chats: [
        {
            image: 'person.svg',
            name: 'Андрей',
            time: '12:30',
            last-message: 'И Human Interface Guidelines и Material Design рекомендует поучаствовать в новом вебинаре от нашей компании',
            number: '3',
        },
        {
            image: 'person.svg',
            name: 'Киноклуб',
            time: 'Чт',
            last-message: 'Друзья, у меня для вас особенный выпуск новостей!',
            number: '1',
        },
        {
            image: 'person.svg',
            name: 'Вадим',
            time: '20.08.2022',
            last-message: 'Круто!',
            outgoing: true
        }
    ]
}
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <main id="root">
        <div class="main">
            <div class="main__col main__col--side">
                <div class="main__bar">
                    {{> burger/burger}}
                    <div class="main__search">
                        {{> search/search}}
                    </div>
                </div>
                <ul class="main__chats">
                    <li>
                        {{#each chats}}
                            {{> chat-item/chat-item}}
                        {{/each}}
                    </li>
                </ul>
            </div>
            <div class="main__col main__col--main">
                <div class="main__plug">
                    <div class="main__plug-text">
                        Выберите, кому хотели бы написать
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
