---
{
    inputs: [
        {label: "Имя", type: "text", placeholder: "", name: "first_name", id: "first_name_reg"},
        {label: "Фамилия", type: "text", placeholder: "", name: "second_name", id: "second_name_reg"},
        {label: "Логин", type: "text", placeholder: "", name: "login", id: "login_reg"},
        {label: "Почта", type: "email", placeholder: "", name: "email", id: "email_reg"},
        {label: "Телефон", type: "tel", placeholder: "", name: "password", id: "password_reg"},
        {label: "Пароль", type: "password", placeholder: "", name: "phone", id: "phone_reg"},
        {label: "Повторите пароль", type: "password", placeholder: "", name: "submit_password", id: "submit_password_reg"}
    ]
}
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Messenger</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <main id="root">
        <div class="empty">
            <div class="modal-tall">
                <form action="#" class="modal-tall__form">
                    <h2 class="modal-tall__header">Регистрация</h2>

                    <ul class="modal-tall__body">
                        {{#each inputs}}
                            <li class="modal-tall__body-item">
                                {{> input/input label=label type=type placeholder=placeholder name=name id=id}}
                            </li>
                        {{/each}}
                    </ul>

                    <div class="modal-tall__footer">
                        {{> button/button text='Создать аккаунт' type='submit'}}
                        <div class="modal-tall__link">
                             {{> link/link link-type='black' to='./auth.hbs' text='Войти'}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
