<main class="main-wrapper">
    <div class="dimmer">
        {{{ ProfileForm
            first_name=first_name
            second_name=second_name
            display_name=display_name
            email=email
            login=login
            phone=phone
            profile=true
            isDisabled="true"
        }}}
    </div>
</main>
