<div class="search">
    <button class="search__button">
        <img class="search__icon" src="../static/icons/magnifier.svg" alt="search-svg">
    </button>
    <input class="search__input" placeholder="Поиск" type="text">
    <button class="search__button search__button--cross">
        <img class="search__icon" src="../static/icons/cross.svg" alt="empty">
    </button>
</div>
