.message {
    padding: 6px 5px 6px 11px;

    display: flex;
    flex-direction: column;

    background-color: $astral;
    border-radius: 10px 10px 0 10px;
    width: fit-content;

    color: $white;

    &__text {
        font-size: 1.6rem;
    }

    &__info {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
    }

    &__time {
        font-weight: $font-weight-light;
        font-size: 1.1rem;
    }

    &__checks {
        width: 20px;
        height: 13px;

        margin-left: 8px;
    }
}