<div class="message{{#unless not_mine}} message--mine{{/unless}}">
    <p class="message__text">{{content}}</p>
    <div class="message__info">
        <p class="message__time">{{time}}</p>
        {{#if is_read}}
            <img class="message__checks" src="{{checksSvg}}">
        {{/if}}
    </div>
</div>
