<div class="message">
    <span class="message__text">{{text}}</span>
    <span class="message__info">
        <span class="message__time">{{time}}</span>
        {{#if outgoing}}
            <img class="message__checks" src="../static/icons/checks.svg" alt="checks">
        {{/if}}
    </span>
</div>