<div class="message">
    <p class="message__text">{{text}}</p>
    <div class="message__info">
        <p class="message__time">{{time}}</p>
        {{#if outgoing}}
            <img class="message__checks" src="../static/icons/checks.svg" alt="checks">
        {{/if}}
    </div>
</div>
